.header {
	width: 100%
	height: 50px;
	position: fixed;
	background-color: #000033;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.content {
   margin-top: 50px;
}